
/* Linkedin postaukset */
body .sk-ww-linkedin-profile-post .sk-post-media {
    clip-path: polygon(calc(100% - 2em) 0, 100% 3em, 100% 100%, 9.5em 100%, 8em 85%, 0 85%, 0 0) !important;
    height: 15em;
    margin: 0px !important;
    border-radius: 0 !important;
}

body .sk-ww-linkedin-profile-post .sk-post-userinfo {
    top: 183px;
    position: relative;
    left: 22px;
}

body .sk-ww-linkedin-profile-post .sk-post-username {
    opacity: 0;
}

body .sk-ww-linkedin-profile-post .sk-post-media.--video {
aspect-ratio: unset !important;
}

body .sk-ww-linkedin-profile-post .sk-posts-masonry .sk-post-item {
    height: fit-content !important;
    -webkit-box-shadow: unset !important;
    border-radius: unset !important;
}     
body .sk-ww-linkedin-profile-post .sk-post-dateposted {
    font-size: 16px;
    line-height: 37px !important;
    letter-spacing: 0em !important;
    font-family: 'Karla' !important;
}

.sk-posts-masonry {
    height: fit-content !important;
}
.sk-post-userpic {
    display: none !important;
}
.sk-post-link {
    display: none !important;
}

.sk-post-image-wrapper.--thirds {
    max-height: fit-content !important;
}

.sk-post-header {
    order: 1;
    height: 0px;
}
.sk-post-body.sk-scrollhover {
    order: 1;
    margin: 0px !important;
    overflow-wrap: unset !important;
    container-type: unset !important;
}

.sk-post-footer {
    display: none !important;
}

.sk-post-body-short {
    order: 2;
    padding: 24px;
}

.sk-post-body-full {
    order: 2;
    padding: 24px;
}
.sk-post-item {
    width: calc(100% / 4 - 50px) !important;
    padding: 0px !important;
    position: unset !important;
    top: unset !important;
    left: unset !important;
}
.sk-posts-masonry {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 50px;
}

/* Linkedin postaukset */
